.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(14, 1fr);
  grid-auto-rows:  75px;
  position: relative;

}
.topstory {
  grid-column: 1/9;
  grid-row: 1/10;
 
}
.topstorytitle {
  grid-column: 1/7;
  grid-row: 1/2;
}



.topstory2 { 
  grid-column:9/12;
  grid-row: 3/7;
}

.topstory2title {
  grid-column: 9/12;
  grid-row: 5/6;
  position: absolute;

}
.topstory3 { 
  grid-column: 12/15;
  grid-row: 3/8;
}
.topstory3title {
  grid-column: 12/15;
  grid-row: 6/7;
  position: absolute;

}

.topstory4 {
  grid-column: 9/12;
  grid-row: 8/12;
}
.topstory4title {
  grid-column: 9/12;
  grid-row: 10/11;
  position: absolute;

}

.topstory5 {
  grid-column: 12/15;
  grid-row: 9/13;

}
.topstory5title {
  grid-column: 12/15;
  grid-row: 11/12;
  position: absolute;

}

.bottomtop {
  grid-column: 1/5;
  grid-row: 10/12;
}

.bottomtoptext {
  grid-column: 1/5;
  grid-row: 12/13;
}

.bottomtop2 {
  grid-column: 3/7;
  grid-row: 10/12;
}

.bottomtoptext2 {
  grid-column: 3/7;
  grid-row: 12/12;
}


.bottomtop3 {
  grid-column: 6/9;
  grid-row: 10/12;
}

.bottomtoptext3 {
  grid-column: 6/9;
  grid-row: 12/13;
}

.lastone {
  grid-column: 1/9;
  grid-row: 23/26;
}

.lastonetext {
  grid-column: 1/9;
  grid-row: 22/23;

}
.lasttwo {
  grid-column: 8/-1;
  grid-row: 23/26;
}
.lasttwotext {
  grid-column: 8/-1;
  grid-row: 22/23;
  
}
.recc {
  grid-column: 1/8;
  grid-row: 15/ 19;
}

.recctext {
  grid-column: 1/8;
  grid-row: 16/18;
}
.reccdesc {
  grid-column: 8/-1;
  grid-row: 15/19;
}

.emptyspace {
  grid-column: 1/-1;
  grid-row: 24/28;
}
