.container img {
    border-radius: 2px; /*Gives all my grid images slightly rounded corners*/
}
html {
    font-size: 16px;
    box-sizing: border-box; /*Includes border and padding in an elements total dimensions */
}

body {
    margin: 0px; /*Gives all elements default zero margin*/
    padding: 0px; /*Gives all elements default zero padding*/
    min-height: 100vh; /*Makes it occupy all the space on the screen */
}
 
*, *::before, *::after {
    box-sizing: inherit;
}
a {
  color: white;
} /*All links are white*/


html, body {
    background-color:rgb(0, 0, 0);
    padding: 0;
    border: 0;
    margin: 0;
    text-align: center;
} /*Auto sets by BG color to black, defaults the border, margin and padding to 0
which can later be overriden by targetting specific elements and auto sets my text align to 
center until overriden.*/

h1, p {
    color:ivory;
    font-family: 'Arvo', serif;
    text-align: center;
} &/*All my headers and margins are ivory, with the same font family and a default text-aling "center*/
p {
  font-family: 'Arvo', serif;
}
h2 {
    color: ivory;
    text-align: center;
}

.bigtitle {
    text-align:center;
    font-family: 'Arvo', serif;
    color:ivory;
    font-size: 120px;
    display: inline-block;
    font-weight: lighter ;
   
 
} /*My big header on the landing page. Increased font size, with a lighter font and 
a box that align with "inline-block"*/

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
 
}/*All the divs in my grid container are to be styled in the following way, with flexbox to change their
alignment*/

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} /*Styling for all my images and their object-fit, i.e. how they fill out the frame*/
   
/*MENU BAR*/
nav {
    font-family: 'Arvo', serif; /*gives all of them the same font*/
    font-size: 20px;
    background-color: rgba(0, 151, 207, 0);

}/*The Nav Bar, giving it a larger font size*/

nav ul {
  list-style-type: none; /*deletes the bullets */
}



nav {
    padding: 10px; /* Sets padding */
}




a {
  position: relative; /* sets the line's position so it doesn't
  fly up the page*/
  /*I'm creating a pseudo-element for my anchor to create a 
  a thick underline*/
  text-decoration: none; /*Removes underline for anchor, so
  I can substitute it*/
}

nav ul li a::before {
        content: ""; /*targets underline*/
        position: absolute; /*Positions it at the bottom of the text*/
        height: 3px; /*Gives the pseudo element (our underline) it's height*/
        right: 0px;/*So the line extens fully across the underside of line*/
        bottom: -3px; /*Creates space between line and text*/
        left: 0px; /*So the line extens fully across the underside of line*/
        background-color:ivory; /*Gives it its color*/
     

    }

nav ul li a, .active {
  color: rgba(0, 151, 207, 1); /*Gives the nav element the color*/
}

  nav ul li a:hover {
    color: ivory; /*Changes the nav element color on hovor*/
   
    padding-top: 13px; /*Moves the thick underline upwards on hover*/
    transition: .6s; /*Makes it take .6 seconds to do above*/

    transition-timing-function: ease-out;/*Changes the way it transitions*/
   
    }


nav.flexbox {
   
    align-items: center; /*Centers them vertically, that is, up and down*/
}
nav.flexbox ul{
  display: flex; /*defines my flexbox*/
  justify-content: space-between; /*Moves "Home" to left, and the rest to right*/
    }
nav.flexbox ul li{

        margin-right: 20px;
}
nav.flexbox &:last-child{
        margin-right: 0px;  display: flex; /*defines my flexbox*/
    justify-content: space-between; /*Moves "Home" to left, and the rest to right*/
}
nav.flexbox {
    display: flex; 
    flex-wrap: wrap; /*The other nav elements except "home" move to a new row to adapt
    to mobile sizes */
    justify-content: center; /*Changes the alignment of "home", which above is set to 
    "space between" but now will move to the center in a mobile view*/
    align-items: center; /*Aligns the rest to the center as well*/

}

@media (min-width: 600px){
  nav.flexbox{
    justify-content: space-between; /*The space-between definition for larger widths
    of screens to align "home" left and the rest right*/
  }
}




@media (min-width: 600px){

  .fullwidth {
    flex: 0 1 auto; /*In the other we allowed a flex-grow, to resize to a bigger size if 
    necessary. Here, the desktop version should not allow that, but it can flex-shrink the 
    secondary links if needed. The default width is automatic, so it adjusts after the rest
    of the content*/
  }
}

ul li {
  flex: 0 0 100px; /*Centers the text based on the other nav items, since it otherwise
  centers based on the full with of the second row link which makes it slightly off*/
  margin-right: 10px; /*Reduced space between items on mobile*/
  text-align: center; /*Aligns text to center*/
}

@media (min-width: 600px){
  ul li {
     flex: 0 0 auto; /*The rule under ul li should not apply for desktop, so this cancels
     it out*/
     margin-right: 20px; /*Space between items*/
 }
}

@media (min-width: 600px){
    &:last-child {

  }
}

nav.flexbox > a {

        margin-bottom: 10px; /*Targets the "HOME" nav item to have some extra margin to 
        create nicer look by separating it a bit from the other items*/
}

@media (min-width: 600px){
      nav.flexbox{  margin-bottom: 0px;/*A line that cancels out the above rule for screens
        bigger than 600px, i.e. a desktop*/
        }
    }

/*End of menu bar*/

.topstory{
  padding-top: 100px;
  padding-left: 20px;
  object-fit: cover; /*Defines how an image which isn't fully displayed should fill out box,
  so this one will cover as much space possible. Padding to add some space from the left edge and 
  padding-top to move it down slightly on the page*/

}
.topstorytitle {
  color: ivory;
  font-family: 'Arvo', serif;
  font-size: 25px;
  text-align: center;
  border: 2px solid ivory;  
  border-radius: 2px;
  margin-top: 40px;
  margin-left: 325px;
  margin-right: 125px;  
}/*Changes my top story tite to a larger font, with a border with slightly rounded corners, and margin to position it
better, mostly so it aligns directly in the center from the images two sides*/

.topstory2 {
  object-fit: cover;
  padding-left: 10px;
  padding-right: 10px;

}/*Similar to above*/
 
.topstory2title {
  padding-top: 50px;
  background-color: rgba(0, 151, 207, 0.75);
  justify-content: center;
  left: 0;
  right: 10px;
  top: -50px;
  bottom: 0;
  margin: auto;
  font-size: 15px;
  color: white;
  margin-left: 10px;
}/*The text inside of the four boxed required most margin and left, right and top property to align them
in a desirable way. Also added a semi translucent background so that the image behind is visible
whilst also improving readability of the text by creating a starker contrast*/

.topstory3title {
  padding-top: 50px;
  background-color: rgba(0, 151, 207, 0.75);
  justify-content: center;
  left: 0;
  right: 10px;
  top: -50px;
  bottom: 0;
  margin: auto;
  font-size: 15px;
}
/*Same as described for topstory2title*/
.topstory3 {
  padding-top: 100px;
  padding-right:10px;
  object-fit:cover;
}
.topstory4 {
  object-fit: cover;
  padding-right: 10px;
  padding-left: 10px;
}
/*Same as described for topstory2title*/
.topstory4title {
  padding-top: 50px;
  background-color: rgba(0, 151, 207, 0.75);
  justify-content: center;
  left: 0;
  right: 10px;
  top: -50px;
  bottom: 0;
  margin: auto;
  font-size: 15px;
  margin-left: 10px;
}
/*Same as described for topstory2title*/

.topstory5 {

  padding-right:10px;
  object-fit:cover;
}
.topstory5title {
  padding-top: 50px;
  background-color: rgba(0, 151, 207, 0.75);
  justify-content: center;/*Aligns content to the center vertically */
  left: 0;
  right: 10px;
  top: -50px;
  bottom: 0;
  margin: auto;
  font-size: 15px;
}

/*Same as described for topstory2title*/



img {
  object-fit: contain;
}/*Sets my default object-fit for images to contain*/

.bottomtoptext {
  border: 2px solid ivory;  
  border-radius: 2px; 
  margin-right: 185px;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 40px;
  
}/*Just a bunch of margins to center the text in relation to the images, and a border with rounded corners*/

.bottomtop {
  padding-left: 20px;
  padding-right: 120px;
 
}/*Positioning of image using padding*/

.bottomtoptext2 {
  border: 2px solid ivory;  
  border-radius: 2px; 
  margin-right: 100px;
  margin-left: 135px;
  margin-bottom: 40px;
  margin-top: 10px;
  
}/*Just a bunch of margins to center the text in relation to the images, and a border with rounded corners*/

.bottomtop2 {
  padding-right: 55px;
  padding-left: 85px;
}/*Positioning of image using padding*/

.bottomtoptext3 {
  border: 2px solid ivory;  
  border-radius: 2px; 
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-right: 60px;
  
}/*Just a bunch of margins to center the text in relation to the images, and a border with rounded corners*/

.bottomtop3 {
  padding-left: 40px;

}/*Positioning of image using padding*/


img {
  border-radius: 2px;
} /*Giving all my images ever so slightly rounded edges*/

.aiheader {
  text-align: center;
  font-family: 'Arvo', serif;
  color:ivory;
  font-size: 85px;
  display: inline-block;
  font-weight: lighter ;

}/*Similar styling as for the home page, but with slightly smaller font size so the title
fits in one row*/
.bigtitle2 {
  text-align: center;
  font-family: 'Arvo', serif;
  color:ivory;
  display: inline-block;
  font-weight: lighter ;

}



.introparag{
  text-align: justify;
  font-size: 25px;
  font-weight:lighter;


}
.introparag {
  column-span: all; /* Makes my intro paragraph span all columns and ignore them */
 
}

.bodytext {
  text-align: left;
  margin-top: 0;
  font-weight:lighter;
}


.topstory3 on:hover {
  padding-left: 30px;
}


.recc {
  object-fit: cover;
  padding-left: 20px;
  padding-right: 20px;
}

.recctext {
  font-size: 30px;
  background-color: rgba(253,84,42,0.55);
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.lastone {
  padding-left: 20px;
  object-fit: cover;
  padding-right: 50px;
}

.lasttwo {
  padding-left: 50px;
  padding-right: 20px;
}

.reccdesc{
  margin: auto;
  text-align: center;
  align-items: center;
  font-size: 25px;
}

.link {
  color:rgba(253,84,42,0.55);
}

.container .reccdesc a:hover {
  color:rgb(253, 84, 42);
  transition: 0.9s;
  padding-top: 20px;

}




.lastonetext {
  font-size: 20px;
}

.lasttwotext {
  font-size: 20px;
}

.emptyspace {
  color: rgba(23, 23, 23, 0);

}

/*Footer*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.FooterContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons{
  display: flex;
  justify-content: center;
  
}

.socialIcons a{
  text-decoration: none;
  padding:10px;
  background-color: white;
  margin:10px;
  border-radius: 10px;
}

.socialIcons a i{
  font-size: 32px;
  color: black;
  opacity: 0.9s;


}

/*Hoover effect*/

.socialIcons a:hover{
  background: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.fNav {
  margin: 30px 0;

}

.fNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.fNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition:0.5s;
  font-family: 'Arvo', serif;
  font: Arvo;
}

.fNav ul li a:hover {
  opacity: 1;
}

.fBottom {
  padding: 20px;
  text-align: center;
  color: #000;
  
}

.fBottom p{
  color: white;
  font-family: 'Arvo', serif;
}

/*VIDEO HEADER*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: scale-down;
  
  margin-bottom: 100px;
  min-height:100vh;
  position: relative;
  overflow: hidden;
}
.backvideo {
  position: absolute;
  top:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  transition: 2s;

}


.bigtitle2 {
  z-index: 2;
}
/*AI FLEXBOX AI FLEXBOX AI FLEXBOX*/
.intro{
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;


}

.intro img {
  width: 1000px;
  align-self: flex-start;
}

.aiimage, aisectionimg {
  align-self: center;
  
}
.intro :nth-child(2) {
  align-self: center;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 50px;
  text-align: center;
  
}

.intro :nth-child(3) {
  padding-top: 100px;
  padding-left: 100px;
  font-size: 20px;
  padding-right: 100px;
  text-align: center;
}

.intro p a {
  color:rgba(0, 151, 207, 0.75);
}

.intro .introparag a:hover {
  color:rgba(0, 151, 207, 1);
  transition: 0.9s;
  padding-top: 20px;
  

}
  
body#bgchange {
 
}

.aisectionimg {
  margin-top: 50px;
}

.sidesc {
  margin-top:250px ;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 12px;
  padding: 10px;

}

video {
  object-fit: contain;
}

.oui {
  column-count: 3;
}

.another, .anothertwo, .aiimage{
  padding-top: 100px;
}

.other {
  font-size: 120px;
  animation:
  typing 2s steps(21),
  cursor .4s step-end infinite alternate;
}

.yeahyeah {
  font-size: 100px;
}

.you {
  font-size: 150px;
}

.concony {
  display: inline-block;
}

.bigtitle {
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
  typing 2s steps(21),
  cursor .4s step-end infinite alternate;
}

.aiheader{
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
  typing 2s steps(34),
  cursor .4s step-end infinite alternate;
  
}
@keyframes cursor {
  50% {border-color: transparent;}
}

@keyframes typing {
  from {width:0}
  
}

.robotrobot{
  font-size: 120px;
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
  typing 2s steps(19),
  cursor .4s step-end infinite alternate;
  
}

.robotrobot{
  font-size: 120px;
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
  typing 2s steps(19),
  cursor .4s step-end infinite alternate;
  
}
.other{
  font-size: 120px;
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
  typing 2s steps(21),
  cursor .4s step-end infinite alternate;
  
}


.yeahyeah{
  font-size: 100px;
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
  typing 2s steps(23),
  cursor .4s step-end infinite alternate;
  
}

.you{
  font-size: 150px;
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
  typing 2s steps(14),
  cursor .4s step-end infinite alternate;

}

.headline {
  padding-top: 50px;
  font-size: 90px;
  padding-bottom: 30px;
}

.col {
  column-count: 2;
  min-width: 200px;
  padding-top: 50px;
}

.lorem {
  text-align: justify;
}

.headline2 {
  padding-top: 50px;
  font-size: 70px;
  padding-bottom: 30px;
}

.anothercontainer {
  border: 1px solid #ddd;
  font-size: 20px;
  text-align: center;
}

.newscon {
  transform: scale(0.99);
  text-align: right;
  margin: 20px;
  padding: 20px;
  transition: all 0.4s;
  line-height: 120%;
}

.newscon:hover {
  box-shadow: rgba(0, 151, 207, 1) 0px 0px 3px 5px;
  transform: scale(1.01);
}

.newscon .heading {
  font-size: 40px;
  padding-bottom: 20px;
  margin-bottom:20px ;
}

.newscon .news {
  column-count: 3;

}
.newscon .otherone {
  column-count: 2;
}

.newscon .news img {
  width: 100%;

}

